@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles";

:root {
  --bg-dark: #0D1117;
  --card-dark: #161B27;
  --dark2: #1E2235;
  --dark3: #2A3050;
  --active: #2563C4;
  --btn: #3A7BDE;
  --dark-primary: #FFFFFF;
  --dark-secondary: #8A96B2;
  --dark-icon: #C4CBD8;

  --heart: #E8573F;

  --bg-light: #F0F4FA;
  --card-light: #FFFFFF;
  --light2: #F4F6FB;
  --light3: #EAF0FC;
  --light-primary: #111827;
  --light-secondary: #6B7280;
  --light-icon: #9CA3AF
}

* {
  font-family: "Roboto", sans-serif;
}

.font1 {
  font-family: "Playfair Display", serif;
}