@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

:root {
  --bg-dark: #0D1117;
  --card-dark: #161B27;
  --dark2: #1E2235;
  --dark3: #2A3050;
  --active: #2563C4;
  --btn: #3A7BDE;
  --dark-primary: #FFFFFF;
  --dark-secondary: #8A96B2;
  --dark-icon: #C4CBD8;

  --heart: #E8573F;

  --bg-light: #F0F4FA;
  --card-light: #FFFFFF;
  --light2: #F4F6FB;
  --light3: #EAF0FC;
  --light-primary: #111827;
  --light-secondary: #6B7280;
  --light-icon: #9CA3AF;

  --gold: #c9a84c;
  --grad: linear-gradient(135deg, #2563C4 0%, #2563C4 50%, #2563C4 100%);
}

body {
  cursor: none;
}

.cursor {
  width: 12px;
  height: 12px;
  background: var(--accent);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;

  top: 0;
  left: 0;

  transform: translate(-50%, -50%);
  transition:
    transform 0.1s ease,
    width 0.3s ease,
    height 0.3s ease,
    background 0.3s ease;
}

.cursor-follower {
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9998;

  top: 0;
  left: 0;

  transform: translate(-50%, -50%);
  transition:
    transform 0.15s ease,
    border-color 0.3s ease;
}



body {
  cursor: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.font1 {
  font-family: "Playfair Display", serif;
}

.gradient-text {
  background: linear-gradient(135deg, #2563C4 0%, #3B82F6 50%, #60A5FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}

section {
  padding: 40px 24px;
}

.section-tag {
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  color: var(--accent);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: clamp(36px, 5vw, 60px);
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.0;
}

.section-title em {
  font-style: italic;
}

/* Divider */
.divider {
  width: 60px;
  height: 2px;
  background: var(--accent);
  margin: 20px 0 40px;
}

@media (hover: none) and (pointer: coarse) {

  .cursor,
  .cursor-follower {
    display: none;
  }

  body {
    cursor: auto;
  }
}

@media (min-width: 768px) {
  section {
    padding: 40px 60px;
  }
}

@media (max-width: 767px) {
  section {
    padding: 30px 25px;
  }
}